 
 

  .copyright-wrap {
    display: flex;
    align-items: center;
   
 }
 .fotter-top-1{
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 .copyright-wrap {
     padding: 28px 0;
     background: transparent;
     border-top: 1px solid #232323;
 }
 .copyright-text, .copyright-text a {
     color: #fff;
 }
 .copyright-text {
     margin: 0;
     font-weight: 400;
     font-size: 18px;
     font-family: var(--title-font);
 }
 .col-auto a {
     text-decoration: none;
 }
 .col-auto {
     flex: 0 0 auto;
     width: auto;
 }  
 
































.footer-links {
    display: flex;
    gap: 15px 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-links a {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--title-font);
    color:  #fff;
}
.footer-list li {
    padding: 10px;
   
}

 
footer{
    background-image: url(./img/fo-im.png);
    position: relative;
    padding-top: 120px;
    background-color: black;
}
.bg-theme, .bg-theme2 {
    background-color:  #e8092e   !important;
    background-image: url(./img/background.png);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 75px;
    border-radius: 5px;
    margin-bottom: -115px;
    position: relative;
    z-index: 3;
    gap: 40px;
}

 
.footer-top-1 .call-media-wrap .icon {
    background: hsla(0, 0%, 100%, .3);
}
 
 











































































.footer {
     
     
     
    width: 100%;
     
    border-radius: 6px;
  }
  .footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 60px;
  }
  .footer-row .footer-col h4 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .footer-col .links {
    margin-top: 20px;
  }
  .footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
  }
  .footer-col .links li a {
    text-decoration: none;
    color: #bfbfbf;
  }
  .footer-col .links li a:hover {
    color: #fff;
  }
  .footer-col p {
    margin: 20px 0;
    color: #bfbfbf;
    max-width: 300px;
  }
  .footer-col form {
    display: flex;
    gap: 5px;
  }
  .footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #e8092e  ;
    caret-color: #fff;
    color: #fff;
    padding-left: 10px;
  }
  .footer-col input::placeholder {
    color: #ccc;
  }
   .footer-col form button {
    background: #e8092e ;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
  }
  .footer-col form button:hover {
    background: #cecccc;
  }
  .footer-col .icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
  }
  .footer-col .icons i {
    color: #afb6c7;
  }
  .footer-col .icons i:hover  {
    color: #fff;
  }
  @media (max-width: 768px) {
    .footer {
      position: relative;
      bottom: 0;
      left: 0;
      transform: none;
      width: 100%;
      border-radius: 0;
    }
    .footer .footer-row {
      padding: 20px;
      gap: 1rem;
    }
    .footer-col form {
      display: block;
    }
    .footer-col form :where(input, button) {
      width: 100%;
    }
    .footer-col form button {
      margin: 10px 0 0 0;
    }
  }
  .social-btn {
    display: flex;
    gap: 10px;
}
.social-btn a {
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 5px;
    display: inline-block;
    background-color: hsla(0, 0%, 100%, .2);
    color:  #fff;
    text-align: center;
    font-size: 16px;
}